<div class="bg-teal-700">
    <div class="container mx-auto h-screen">
        <div class="flex justify-center h-full items-center">
            <div class="w-full max-w-xs animate__animated animate__fadeInLeft">
                <form [formGroup]="form" (ngSubmit)="save()" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 mt-4">
                    <div class="mb-4">
                        <h1 class="text-3xl font-bold text-center">Iniciar sesión</h1>
                    </div>
                    <div class="mb-4">
                        <label class="block text-gray-700 text-sm font-bold mb-2" for="email">
                            Correo eléctronico
                        </label>
                        <input
                            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                            id="email" type="text" placeholder="example@gmail.com"
                            formControlName="email"
                            >
                            <small *ngIf="errorField('email')" class="text-red-500 text-xs animate__animated animate__fadeIn">Ingrese un correo eléctronico</small>
                    </div>
                    <div class="mb-6">
                        <label class="block text-gray-700 text-sm font-bold mb-2" for="password">
                            Contraseña
                        </label>
                        <input
                            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline"
                            id="password" type="password" placeholder="******************"
                            formControlName="password"
                            >
                        <small *ngIf="errorField('password')" class="text-red-500 text-xs animate__animated animate__fadeIn">La contraseña es requerida</small>
                    </div>
                    <div class="flex justify-center">
                        <button
                            class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                            type="submit">
                            Ingresar
                        </button>
                        <!-- <a class="inline-block align-baseline font-bold text-sm text-blue-500 hover:text-blue-800" href="#">
                      Forgot Password?
                    </a> -->
                    </div>
                    <div class="flex justify-center p-3">
                        <a [routerLink]="['/register']" class="inline-block align-baseline font-bold text-sm text-blue-500 hover:text-blue-800">
                            no tienes una cuenta?
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>