<div class="bg-teal-700">
    <div class="container mx-auto h-screen">
        <div class="flex justify-center h-full items-center">
            <div class="w-full max-w-xs animate__animated animate__fadeInRight">
                <form [formGroup]="form" (ngSubmit)="save()" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
                    <div class="mb-4">
                        <h1 class="text-3xl font-bold text-center">Crea una cuenta</h1>
                    </div>
                    <div class="mb-4">
                        <label class="block text-gray-700 text-sm font-bold mb-2" for="username">
                            Nombre
                        </label>
                        <input
                            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                            id="username" type="text" placeholder="Ingresa tu nombre" formControlName="username">
                        <small *ngIf="errorField('username')"
                            class="text-red-500 text-xs animate__animated animate__fadeIn">El nombre es
                            requerido</small>
                    </div>
                    <div class="mb-4">
                        <label class="block text-gray-700 text-sm font-bold mb-2" for="email">
                            Correo eléctronico
                        </label>
                        <input
                            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                            id="email" type="text" placeholder="example@gmail.com" formControlName="email">
                        <small *ngIf="errorField('email')"
                            class="text-red-500 text-xs animate__animated animate__fadeIn">Ingrese un correo
                            eléctronico</small>
                    </div>
                    <div class="mb-4">
                        <label class="block text-gray-700 text-sm font-bold mb-2" for="grid-state">
                            Rol
                        </label>
                        <div class="relative">
                            <select
                                class="block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                                id="grid-state" formControlName="role">
                                <option value="">Elige un rol</option>
                                <option value="usuarioA">Básico</option>
                                <option value="usuarioB">Pro</option>
                            </select>
                            <small *ngIf="errorField('role')"
                                class="text-red-500 text-xs animate__animated animate__fadeIn">seleccione un rol</small>
                        </div>
                    </div>
                    <div class="mb-6">
                        <label class="block text-gray-700 text-sm font-bold mb-2" for="password">
                            Contraseña
                        </label>
                        <input
                            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline"
                            id="password" type="password" placeholder="******************" formControlName="password">
                        <small *ngIf="errorField('password')"
                            class="text-red-500 text-xs animate__animated animate__fadeIn">La contraseña es
                            requerida</small>
                    </div>
                    <div class="flex justify-center">
                        <button
                            class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                            type="submit">
                            Crear cuenta
                        </button>
                    </div>
                    <div class="flex justify-center p-3">
                        <a [routerLink]="['/login']" class="inline-block align-baseline font-bold text-sm text-blue-500 hover:text-blue-800">
                            Ya tienes una cuenta?
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>